<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DigitalRuby.ExchangeSharp" version="0.7.5" targetFramework="net461" />
  <package id="LinqStatistics" version="2.3.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.3.0" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="2.9.7" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NLog" version="4.7.9" targetFramework="net46" />
  <package id="Skender.Stock.Indicators" version="1.10.6" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net461" />
</packages>