<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="console" xsi:type="Console" layout="${date:format=dd-MM-yyyy HH\:mm\:ss} - ${message}" />    

    <target name="file" xsi:type="File"
        layout="${longdate} ${message}"
        fileName="logs/logs.txt"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="iso-8859-2" />

    <target name="tracefile" xsi:type="File"
       layout="${longdate} ${message}"
       fileName="logs/verbose.txt"
       concurrentWrites="true"
       keepFileOpen="false"
       encoding="iso-8859-2" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="tracefile" />
  </rules>
</nlog>
